<div class="house-type height-wrapper block full-wrapper">
    <div class="house-types types centered">
        <input ng-model="houseType" id="hdb" name="house-type" type="radio" value="hdb">
        <label id="hdb-label" for="hdb" ng-click="selectHouseType('hdb')">
            <img src="img/house_type_hdb.png">
            <div class="selection-label">HDB</div>
        </label>
        <input ng-model="houseType" id="private" name="house-type" type="radio" value="private">
        <label id="private-label" for="private" ng-click="selectHouseType('private')">
            <img src="img/house_type_private.png">
            <div class="selection-label">Private</div>
        </label>
    </div>
</div>