<div class="height-wrapper block">
    <div class="house-levels types centered">
        <input id="top-level" name="house-level" type="radio" value="top">
        <label for="top-level">
            <img src="img/house_level_top.png">
            <div class="selection-label">Top Level</div>
        </label>
        <input id="other-levels" name="house-level" type="radio" value="others">
        <label for="other-levels">
            <img src="img/house_level_others.png">
            <div class="selection-label">Other Levels</div>
        </label>
    </div>
</div>