<div class="message" ng-class="pichonkunImages[currentIdx].messageClassName" ng-bind="messages[currentIdx]">

</div>
<img ng-src="{{pichonkunImages[currentIdx].img}}" class="pichon" ng-class="pichonkunImages[currentIdx].className">
<div class="buttons">
	<button class="button start-button next" ng-click="start()">Let’s Start</button>
</div>

<!--
<div id="Stage" class="EDGE-52860910">
</div>
<div class="message ng-hide" ng-class="pichonkunImages[currentIdx].messageClassName" ng-bind="messages[currentIdx]">

</div>
<img ng-src="{{pichonkunImages[currentIdx].img}}" class="pichon ng-hide" ng-class="pichonkunImages[currentIdx].className">
<div class="buttons">
	<button class="button start-button ng-hide" ng-click="start()">Let’s Start</button>
</div>
<button class="button skip-button" ng-click="skip()">Skip</button>-->