<div class="height-wrapper block">
    <div class="room-levels types centered">
        <input ng-model="roomLevel" id="top-level" name="room-level" type="radio" value="top">
        <label for="top-level">
            <img src="img/room_level_top.png">
            <div class="selection-label">Top Level</div>
        </label>
        <input ng-model="roomLevel" id="other-levels" name="room-level" type="radio" value="others">
        <label for="other-levels">
            <img src="img/room_level_others.png">
            <div class="selection-label">Other Levels</div>
        </label>
    </div>
</div>