<div class="button-group">
    <button class="rotate-left round-button">
      <div class="button-content">
        <span class="icon-rotate-left"></span>
        <div class="button-text">rotate left</div>
      </div>
    </button>
    <button class="rotate-right round-button">
      <div class="button-content">
        <span class="icon-rotate-right"></span>
        <div class="button-text">rotate right</div>
      </div>
    </button>
</div>
<div wall-direction class="drawing-canvas">
      
</div>
<div class="compass">
    <img class="compass-arrow" src="/img/compass-arrow.png">
    <div class="north">N</div>
    <div class="south">S</div>
    <div class="west">W</div>
    <div class="east">E</div>
</div>